# USBRH rules
# written by Tetsuya KIMATA <kimata@green-rabbit.net>

ACTION=="add", ATTR{idVendor}=="1774", ATTR{idProduct}=="1001", RUN+="usbrh.sh '%p'"
